.modal {
    position: fixed;
    top: 8.5vh;
    left: 60%;
    width: 40%;
    height: 30rem;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }